In [1]:
import warnings
warnings.filterwarnings('ignore')
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import mason_functions as mf

# Data Wrangling Exercises

## Acquire and Summarize

## Exercise 1
Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

##### * Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
* Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
* Only include properties that include a latitude and longitude value.

In [2]:
#define my SQL query to meet the scope of my data

#All, hail!
#Sofia, the Hopper Queen
sql = '''
SELECT *
FROM properties_2017
LEFT JOIN predictions_2017 pred USING(parcelid)
LEFT JOIN airconditioningtype USING(airconditioningtypeid)
LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
LEFT JOIN buildingclasstype USING(buildingclasstypeid)
LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
LEFT JOIN propertylandusetype USING(propertylandusetypeid)
LEFT JOIN storytype USING(storytypeid)
LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
WHERE latitude IS NOT NULL 
AND longitude IS NOT NULL
AND transactiondate LIKE "2017%%"
AND pred.id IN (SELECT MAX(id)
FROM predictions_2017
GROUP BY parcelid
HAVING MAX(transactiondate))
'''

#define my url
url = mf.get_db_url('zillow')

#set up an if-conditional to see if there is a .csv readily available, then load the data
if os.path.isfile('zillow_ol_pal.csv'):
    df = pd.read_csv('zillow_ol_pal.csv', index_col = 0)
else:
    df = pd.read_sql(sql, url)
    df.to_csv('zillow_ol_pal.csv')

In [3]:
#change options
pd.options.display.max_columns = 69
pd.options.display.max_rows = 265

In [4]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,3.5,4.0,NaN,3.5,NaN,NaN,3100.0,3100.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,633.0,NaN,33634931.0,-117869207.0,4506.0,NaN,NaN,NaN,NaN,NaN,122,NaN,6.059063e+07,53571.0,1286.0,NaN,96978.0,0.0,1.0,NaN,NaN,NaN,1998.0,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,1.0,2.0,NaN,1.0,NaN,1465.0,1465.0,1465.0,NaN,NaN,1465.0,NaN,6111.0,1.0,1.0,1.0,0.0,NaN,34449266.0,-119281531.0,12647.0,NaN,NaN,NaN,NaN,NaN,1110,NaN,6.111001e+07,13091.0,2061.0,NaN,97099.0,5.0,NaN,NaN,NaN,NaN,1967.0,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,2.0,3.0,NaN,2.0,NaN,NaN,1243.0,1243.0,NaN,NaN,NaN,NaN,6059.0,NaN,2.0,2.0,440.0,NaN,33886168.0,-117823170.0,8432.0,1.0,NaN,NaN,NaN,1.0,122,NaN,6.059022e+07,21412.0,1286.0,NaN,97078.0,6.0,NaN,NaN,NaN,NaN,1962.0,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,3.0,4.0,8.0,3.0,NaN,NaN,2376.0,2376.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,34245180.0,-118240722.0,13038.0,1.0,NaN,NaN,NaN,1.0,0101,LCR110000*,6.037300e+07,396551.0,3101.0,NaN,96330.0,0.0,NaN,1.0,NaN,NaN,1970.0,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,3,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,3.0,3.0,8.0,3.0,NaN,NaN,1312.0,1312.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,34185120.0,-118414640.0,278581.0,1.0,NaN,NaN,NaN,1.0,010C,LAR3,6.037124e+07,12447.0,3101.0,268548.0,96451.0,0.0,NaN,1.0,NaN,NaN,1964.0,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,NaN,NaN,6.037124e+13,4,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 0 to 77379
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77380 non-null  float64
 3   heatingorsystemtypeid         49439 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   parcelid                      77380 non-null  int64
 8   id                            77380 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77380 non-null  float64
 11  bedroomcnt                    77380 non-null  float64
 12  buildingqualitytypeid         49671 non-null  float64
 13  calculatedbathnbr             76771 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77184 non-null  float64
 17  finishedsquarefeet12          73748 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77380 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76771 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77380 non-null  float64
 29  longitude                     77380 non-null  float64
 30  lotsizesquarefeet             69141 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77380 non-null  object
 37  propertyzoningdesc            50330 non-null  object
 38  rawcensustractandblock        77380 non-null  float64
 39  regionidcity                  75909 non-null  float64
 40  regionidcounty                77380 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77330 non-null  float64
 43  roomcnt                       77380 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  id.1                          77380 non-null  int64
 60  logerror                      77380 non-null  float64
 61  transactiondate               77380 non-null  object
 62  airconditioningdesc           24953 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49439 non-null  object
 66  propertylandusedesc           77380 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB

In [6]:
if len(df) > df.parcelid.nunique():
    print('Ya done goofed')
else:
    print('Laddy')

Laddy

In [7]:
#check number of unique parcel ids
df.parcelid.nunique()

77380

In [8]:
#double-check they're gone
df.parcelid.value_counts(dropna = False).sort_index()

10711855     1
10711877     1
10711888     1
10711910     1
10711923     1
            ..
167686999    1
167687739    1
167687839    1
167688532    1
167689317    1
Name: parcelid, Length: 77380, dtype: int64

In [9]:
#a triple check
df.parcelid.value_counts()[df.parcelid.value_counts() > 1]

Series([], Name: parcelid, dtype: int64)

In [10]:
#a quick look at df.info() confirms the count of 77380 non-null values for parcel ids matches the length of the dataframe
#this will remove any need to 'check' whether or not you have a unique set of parcel ids

### Exercise II
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [11]:
#aight im out

### Exercise III
Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
def calculate_column_nulls(df):
    
    #set an empty list
    output = []
    
    #gather columns
    df_columns = df.columns.to_list()
    
    #commence for loop
    for column in df_columns:
        
        #assign variable to number of rows that have null values
        missing = df[column].isnull().sum()
        
        #assign variable to ratio of rows with null values to overall rows in column
        ratio = df[column].isnull().sum() / len(df)
    
        #assign a dictionary for your dataframe to accept
        r_dict = {'nulls': missing,
                  'null_ratio': round(ratio, 5),
                  'null_percentage': f'{round(ratio * 100, 2)}%'
                 }
        #add dictonaries to list
        output.append(r_dict)
        
    #design frame
    column_nulls = pd.DataFrame(output, index = df_columns)
    
    #return the dataframe
    return column_nulls

In [13]:
#gimme dat
column_nulls = calculate_column_nulls(df)

In [14]:
#hmm
column_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69 entries, typeconstructiontypeid to typeconstructiondesc
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nulls            69 non-null     int64
 1   null_ratio       69 non-null     float64
 2   null_percentage  69 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [15]:
#just for giggles
column_nulls.describe()

              nulls  null_ratio
count     69.000000   69.000000
mean   37035.942029    0.478624
std    34733.347317    0.448867
min        0.000000    0.000000
25%        1.000000    0.000010
50%    27941.000000    0.361090
75%    75842.000000    0.980120
max    77365.000000    0.999810

In [16]:
column_nulls.sort_values('nulls', ascending = False)

                              nulls  null_ratio null_percentage
buildingclassdesc             77365     0.99981          99.98%
buildingclasstypeid           77365     0.99981          99.98%
finishedsquarefeet13          77339     0.99947          99.95%
storydesc                     77330     0.99935          99.94%
basementsqft                  77330     0.99935          99.94%
storytypeid                   77330     0.99935          99.94%
yardbuildingsqft26            77310     0.99910          99.91%
fireplaceflag                 77208     0.99778          99.78%
architecturalstyletypeid      77174     0.99734          99.73%
architecturalstyledesc        77174     0.99734          99.73%
typeconstructiontypeid        77158     0.99713          99.71%
typeconstructiondesc          77158     0.99713          99.71%
finishedsquarefeet6           76994     0.99501           99.5%
pooltypeid10                  76916     0.99400           99.4%
decktypeid                    76766     0.99207          99.21%
poolsizesum                   76513     0.98880          98.88%
pooltypeid2                   76306     0.98612          98.61%
hashottuborspa                75842     0.98012          98.01%
yardbuildingsqft17            74992     0.96914          96.91%
taxdelinquencyflag            74494     0.96270          96.27%
taxdelinquencyyear            74494     0.96270          96.27%
finishedsquarefeet15          74371     0.96111          96.11%
finishedsquarefeet50          71357     0.92216          92.22%
finishedfloor1squarefeet      71357     0.92216          92.22%
fireplacecnt                  69104     0.89305           89.3%
threequarterbathnbr           67284     0.86953          86.95%
pooltypeid7                   62338     0.80561          80.56%
poolcnt                       61243     0.79146          79.15%
numberofstories               59820     0.77307          77.31%
airconditioningdesc           52427     0.67753          67.75%
airconditioningtypeid         52427     0.67753          67.75%
garagecarcnt                  51906     0.67079          67.08%
garagetotalsqft               51906     0.67079          67.08%
regionidneighborhood          46490     0.60080          60.08%
heatingorsystemtypeid         27941     0.36109          36.11%
heatingorsystemdesc           27941     0.36109          36.11%
buildingqualitytypeid         27709     0.35809          35.81%
propertyzoningdesc            27050     0.34957          34.96%
unitcnt                       26818     0.34658          34.66%
lotsizesquarefeet              8239     0.10647          10.65%
finishedsquarefeet12           3632     0.04694           4.69%
regionidcity                   1471     0.01901            1.9%
calculatedbathnbr               609     0.00787           0.79%
fullbathcnt                     609     0.00787           0.79%
yearbuilt                       263     0.00340           0.34%
censustractandblock             244     0.00315           0.32%
calculatedfinishedsquarefeet    196     0.00253           0.25%
structuretaxvaluedollarcnt      112     0.00145           0.14%
regionidzip                      50     0.00065           0.06%
taxamount                         5     0.00006           0.01%
landtaxvaluedollarcnt             2     0.00003            0.0%
taxvaluedollarcnt                 1     0.00001            0.0%
propertylandusedesc               0     0.00000            0.0%
id.1                              0     0.00000            0.0%
bedroomcnt                        0     0.00000            0.0%
fips                              0     0.00000            0.0%
transactiondate                   0     0.00000            0.0%
logerror                          0     0.00000            0.0%
propertylandusetypeid             0     0.00000            0.0%
assessmentyear                    0     0.00000            0.0%
latitude                          0     0.00000            0.0%
rawcensustractandblock            0     0.00000            0.0%
parcelid                          0     0.00000            0.0%
longitude                         0     0.00000            0.0%
id                                0     0.00000            0.0%
bathroomcnt                       0     0.00000            0.0%
roomcnt                           0     0.00000            0.0%
propertycountylandusecode         0     0.00000            0.0%
regionidcounty                    0     0.00000            0.0%

In [17]:
def calculate_row_nulls(df):
    
    #create an empty list
    output = []
    
    #gather values in a series
    row_nulls = df.isnull().sum(axis = 1)
    
    #commence 4 loop
    for n in range(len(row_nulls)):
        
        #assign variable to nulls
        missing = row_nulls[n]
        
        #assign variable to ratio
        ratio = missing / len(df.columns)
        
        #assign a dictionary for your dataframe to accept
        r_dict = {'nulls': missing,
                  'null_ratio': round(ratio, 5),
                  'null_percentage': f'{round(ratio * 100)}%'
                 }
        #add dictonaries to list
        output.append(r_dict)
        
    #design frame
    row_summary = pd.DataFrame(output, index = df.index)
    
    #return the dataframe
    return row_summary

In [18]:
calculate_row_nulls(df)

       nulls  null_ratio null_percentage
0         36     0.52174             52%
1         33     0.47826             48%
2         34     0.49275             49%
3         32     0.46377             46%
4         29     0.42029             42%
...      ...         ...             ...
77375     29     0.42029             42%
77376     33     0.47826             48%
77377     32     0.46377             46%
77378     32     0.46377             46%
77379     34     0.49275             49%

[77380 rows x 3 columns]

In [22]:
#assign variable to ouput
row_nulls = calculate_row_nulls(df)

In [23]:
#look at row nulls
row_nulls.sort_values('nulls', ascending = False)

       nulls  null_ratio null_percentage
55461     48     0.69565             70%
41501     48     0.69565             70%
13386     48     0.69565             70%
16553     47     0.68116             68%
61092     47     0.68116             68%
...      ...         ...             ...
4881      24     0.34783             35%
67756     24     0.34783             35%
15477     24     0.34783             35%
32747     23     0.33333             33%
58144     23     0.33333             33%

[77380 rows x 3 columns]

In [24]:
#test index access rights
row_nulls.index[0]

0

In [25]:
#testing
row_nulls.iloc[:1].null_ratio

0    0.52174
Name: null_ratio, dtype: float64

In [ ]:
#test symmetry of indices
df.iloc[:1]

In [ ]:
#test functionality of code
df.iloc[:1].propertylandusedesc

In [26]:
len(column_nulls)

69

In [30]:
column_nulls.iloc[:69].null_ratio

typeconstructiontypeid          0.99713
storytypeid                     0.99935
propertylandusetypeid           0.00000
heatingorsystemtypeid           0.36109
buildingclasstypeid             0.99981
architecturalstyletypeid        0.99734
airconditioningtypeid           0.67753
parcelid                        0.00000
id                              0.00000
basementsqft                    0.99935
bathroomcnt                     0.00000
bedroomcnt                      0.00000
buildingqualitytypeid           0.35809
calculatedbathnbr               0.00787
decktypeid                      0.99207
finishedfloor1squarefeet        0.92216
calculatedfinishedsquarefeet    0.00253
finishedsquarefeet12            0.04694
finishedsquarefeet13            0.99947
finishedsquarefeet15            0.96111
finishedsquarefeet50            0.92216
finishedsquarefeet6             0.99501
fips                            0.00000
fireplacecnt                    0.89305
fullbathcnt                     0.00787
garagecarcnt                    0.67079
garagetotalsqft                 0.67079
hashottuborspa                  0.98012
latitude                        0.00000
longitude                       0.00000
lotsizesquarefeet               0.10647
poolcnt                         0.79146
poolsizesum                     0.98880
pooltypeid10                    0.99400
pooltypeid2                     0.98612
pooltypeid7                     0.80561
propertycountylandusecode       0.00000
propertyzoningdesc              0.34957
rawcensustractandblock          0.00000
regionidcity                    0.01901
regionidcounty                  0.00000
regionidneighborhood            0.60080
regionidzip                     0.00065
roomcnt                         0.00000
threequarterbathnbr             0.86953
unitcnt                         0.34658
yardbuildingsqft17              0.96914
yardbuildingsqft26              0.99910
yearbuilt                       0.00340
numberofstories                 0.77307
fireplaceflag                   0.99778
structuretaxvaluedollarcnt      0.00145
taxvaluedollarcnt               0.00001
assessmentyear                  0.00000
landtaxvaluedollarcnt           0.00003
taxamount                       0.00006
taxdelinquencyflag              0.96270
taxdelinquencyyear              0.96270
censustractandblock             0.00315
id.1                            0.00000
logerror                        0.00000
transactiondate                 0.00000
airconditioningdesc             0.67753
architecturalstyledesc          0.99734
buildingclassdesc               0.99981
heatingorsystemdesc             0.36109
propertylandusedesc             0.00000
storydesc                       0.99935
typeconstructiondesc            0.99713
Name: null_ratio, dtype: float64

In [35]:
column_nulls.iloc[0].null_ratio

0.99713

In [36]:
column_nulls.index[0]

'typeconstructiontypeid'

In [32]:
range(len(column_nulls[:]))

range(0, 69)

In [ ]:
for n in range(len(column_nulls)):
    if column_nulls.iloc[n].null_ratio > .5:
        df = df.drop(columns = column_nulls.index[n])

In [ ]:
null_and_void = []

for n in range(len(column_nulls)):
    if column_nulls.iloc[n].null_ratio > .5:
        null_and_void.append(column_nulls.index[n])
        
df = df.drop(columns = null_and_void)

ice_em = []

for n in range(len(row_nulls)):
    if row_nulls.iloc[n].null_ratio > .7:
        ice_em.append(row_nulls.index[n])
        
df = df.drop(index = ice_em)

In [42]:
row_nulls.loc[70000]

nulls                   32
null_ratio         0.46377
null_percentage        46%
Name: 70000, dtype: object

In [43]:
len(row_nulls)

77380

In [ ]:
df.typeconstructiontypeid.isnull().sum()

In [ ]:
df.storytypeid.isnull().sum()

In [ ]:
#gather values in a series
missing = df.isnull().sum(axis = 1)
    
#assign to a dataframe
missing = pd.DataFrame(missing)

In [ ]:
missing = missing.rename(columns = {0: 'nulls'})

In [ ]:
missing['null_ratio'] = missing['nulls'] / len(df.columns)

In [ ]:
missing['null_percentage'] = f'{round(missing["nulls"] / len(df.columns)) * 100}%'

In [ ]:
missing

## Prepare

### Exercise I
Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

### Exercise II
Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

* The input:
    * A dataframe
    * A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    * A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
* The output:
    * The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
* hint:
    * Look up the dropna documentation.
    * You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    * Make use of inplace, i.e. inplace=True/False.

In [54]:
def handle_nulls(df, cr, rr):
    '''
    This function defines 3 parameters, the dataframe you want to calculate nulls for (df), the column ratio (cr) and the row ratio (rr),
    ratios that define the threshold of having too many nulls, and returns your dataframe with columns and rows dropped if they are above their respective threshold ratios.
    Note: This function calculates the ratio of nulls missing for rows AFTER it drops the columns with null ratios above the cr threshold.
    TL; DR: This function handles nulls for dataframes.
    '''
    #set an empty list
    output = []
    
    #gather columns
    df_columns = df.columns.to_list()
    
    #commence for loop
    for column in df_columns:
        
        #assign variable to number of rows that have null values
        missing = df[column].isnull().sum()
        
        #assign variable to ratio of rows with null values to overall rows in column
        ratio = df[column].isnull().sum() / len(df)
    
        #assign a dictionary for your dataframe to accept
        r_dict = {'nulls': missing,
                  'null_ratio': round(ratio, 5),
                  'null_percentage': f'{round(ratio * 100, 2)}%'
                 }
        #add dictonaries to list
        output.append(r_dict)
        
    #design frame
    column_nulls = pd.DataFrame(output, index = df_columns)

    #set a list of columns to drop
    null_and_void = []
    
    #commence loop
    for n in range(len(column_nulls)):
        
        #set up conditional to see if the ratio of nulls to total columns is over the entered column ratio (.cr)
        if column_nulls.iloc[n].null_ratio > cr:
            
            #add columns over the threshold with nulls to the list of columns to drop
            null_and_void.append(column_nulls.index[n])
    
    #drop the columns
    df = df.drop(columns = null_and_void)

    #create another list
    output = []
    
    #gather values in a series
    nulls = df.isnull().sum(axis = 1)
    
    #commence 4 loop
    for n in range(len(nulls)):
        
        #assign variable to nulls
        missing = nulls[n]
        
        #assign variable to ratio
        ratio = missing / len(df.columns)
        
        #assign a dictionary for your dataframe to accept
        r_dict = {'nulls': missing,
                  'null_ratio': round(ratio, 5),
                  'null_percentage': f'{round(ratio * 100)}%'
                 }
        #add dictonaries to list
        output.append(r_dict)
        
    #design frame
    row_nulls = pd.DataFrame(output, index = df.index)

    #set an empty index of rows to drop
    ice_em = []

    #commence loop
    for n in range(len(row_nulls)):
        
        #set up conditional to see if the ratio of nulls to total columns is over the entered row ratio (.rr)
        if row_nulls.iloc[n].null_ratio > rr:
            
            #add rows to index
            ice_em.append(row_nulls.index[n])
    
    #drop rows where the percentage of nulls is over the threshold
    df = df.drop(index = ice_em)

    #return the df with preferred drop parameters
    return df

In [55]:
df = handle_nulls(df, .5, .7)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 0 to 77379
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   propertylandusetypeid         77380 non-null  float64
 1   heatingorsystemtypeid         49439 non-null  float64
 2   parcelid                      77380 non-null  int64
 3   id                            77380 non-null  int64
 4   bathroomcnt                   77380 non-null  float64
 5   bedroomcnt                    77380 non-null  float64
 6   buildingqualitytypeid         49671 non-null  float64
 7   calculatedbathnbr             76771 non-null  float64
 8   calculatedfinishedsquarefeet  77184 non-null  float64
 9   finishedsquarefeet12          73748 non-null  float64
 10  fips                          77380 non-null  float64
 11  fullbathcnt                   76771 non-null  float64
 12  latitude                      77380 non-null  float64
 13  longitude                     77380 non-null  float64
 14  lotsizesquarefeet             69141 non-null  float64
 15  propertycountylandusecode     77380 non-null  object
 16  propertyzoningdesc            50330 non-null  object
 17  rawcensustractandblock        77380 non-null  float64
 18  regionidcity                  75909 non-null  float64
 19  regionidcounty                77380 non-null  float64
 20  regionidzip                   77330 non-null  float64
 21  roomcnt                       77380 non-null  float64
 22  unitcnt                       50562 non-null  float64
 23  yearbuilt                     77117 non-null  float64
 24  structuretaxvaluedollarcnt    77268 non-null  float64
 25  taxvaluedollarcnt             77379 non-null  float64
 26  assessmentyear                77380 non-null  float64
 27  landtaxvaluedollarcnt         77378 non-null  float64
 28  taxamount                     77375 non-null  float64
 29  censustractandblock           77136 non-null  float64
 30  id.1                          77380 non-null  int64
 31  logerror                      77380 non-null  float64
 32  transactiondate               77380 non-null  object
 33  heatingorsystemdesc           49439 non-null  object
 34  propertylandusedesc           77380 non-null  object
dtypes: float64(27), int64(3), object(5)
memory usage: 23.3+ MB

In [57]:
column_nulls = calculate_column_nulls(df)
column_nulls.sort_values('nulls', ascending = False)

                              nulls  null_ratio null_percentage
heatingorsystemdesc           27941     0.36109          36.11%
heatingorsystemtypeid         27941     0.36109          36.11%
buildingqualitytypeid         27709     0.35809          35.81%
propertyzoningdesc            27050     0.34957          34.96%
unitcnt                       26818     0.34658          34.66%
lotsizesquarefeet              8239     0.10647          10.65%
finishedsquarefeet12           3632     0.04694           4.69%
regionidcity                   1471     0.01901            1.9%
fullbathcnt                     609     0.00787           0.79%
calculatedbathnbr               609     0.00787           0.79%
yearbuilt                       263     0.00340           0.34%
censustractandblock             244     0.00315           0.32%
calculatedfinishedsquarefeet    196     0.00253           0.25%
structuretaxvaluedollarcnt      112     0.00145           0.14%
regionidzip                      50     0.00065           0.06%
taxamount                         5     0.00006           0.01%
landtaxvaluedollarcnt             2     0.00003            0.0%
taxvaluedollarcnt                 1     0.00001            0.0%
assessmentyear                    0     0.00000            0.0%
id.1                              0     0.00000            0.0%
logerror                          0     0.00000            0.0%
transactiondate                   0     0.00000            0.0%
propertylandusetypeid             0     0.00000            0.0%
rawcensustractandblock            0     0.00000            0.0%
roomcnt                           0     0.00000            0.0%
regionidcounty                    0     0.00000            0.0%
propertycountylandusecode         0     0.00000            0.0%
longitude                         0     0.00000            0.0%
latitude                          0     0.00000            0.0%
fips                              0     0.00000            0.0%
bedroomcnt                        0     0.00000            0.0%
bathroomcnt                       0     0.00000            0.0%
id                                0     0.00000            0.0%
parcelid                          0     0.00000            0.0%
propertylandusedesc               0     0.00000            0.0%

In [58]:
row_nulls = calculate_row_nulls(df)
row_nulls.sort_values('nulls', ascending = False)

       nulls  null_ratio null_percentage
55461     14     0.40000             40%
41501     14     0.40000             40%
13386     14     0.40000             40%
14469     13     0.37143             37%
61092     13     0.37143             37%
...      ...         ...             ...
42001      0     0.00000              0%
42004      0     0.00000              0%
42005      0     0.00000              0%
42006      0     0.00000              0%
77379      0     0.00000              0%

[77380 rows x 3 columns]

In [59]:
row_nulls[row_nulls.null_ratio > .2].sort_values('null_ratio', ascending = False)

       nulls  null_ratio null_percentage
41501     14     0.40000             40%
13386     14     0.40000             40%
55461     14     0.40000             40%
38766     13     0.37143             37%
61092     13     0.37143             37%
14469     13     0.37143             37%
16553     13     0.37143             37%
58954     12     0.34286             34%
21027     12     0.34286             34%
19906     12     0.34286             34%
47799     12     0.34286             34%
71672     12     0.34286             34%
38046     12     0.34286             34%
34755     12     0.34286             34%
64345     11     0.31429             31%
69415     11     0.31429             31%
47198     11     0.31429             31%
62405     11     0.31429             31%
51541     11     0.31429             31%
50423     11     0.31429             31%
18446     11     0.31429             31%
67788     11     0.31429             31%
16941     11     0.31429             31%
53324     11     0.31429             31%
15187     11     0.31429             31%
22824     11     0.31429             31%
64407     11     0.31429             31%
23650     11     0.31429             31%
40973     11     0.31429             31%
65918     11     0.31429             31%
37673     11     0.31429             31%
34180     11     0.31429             31%
38467     11     0.31429             31%
38473     11     0.31429             31%
32707     11     0.31429             31%
39911     11     0.31429             31%
42939     11     0.31429             31%
67759     11     0.31429             31%
45323     11     0.31429             31%
29080     11     0.31429             31%
45364     11     0.31429             31%
28817     11     0.31429             31%
45583     11     0.31429             31%
67486     11     0.31429             31%
53891     11     0.31429             31%
53806     11     0.31429             31%
52315     11     0.31429             31%
14822     11     0.31429             31%
74235     11     0.31429             31%
54654     11     0.31429             31%
56501     11     0.31429             31%
10038     11     0.31429             31%
63062     11     0.31429             31%
9143      11     0.31429             31%
63041     11     0.31429             31%
57360     11     0.31429             31%
59284     11     0.31429             31%
59889     11     0.31429             31%
76055     11     0.31429             31%
60385     11     0.31429             31%
60567     11     0.31429             31%
60598     11     0.31429             31%
2473      11     0.31429             31%
2270      11     0.31429             31%
1998      11     0.31429             31%
63022     11     0.31429             31%
11036     11     0.31429             31%
9552      11     0.31429             31%
73879     11     0.31429             31%
54512     11     0.31429             31%
14461     11     0.31429             31%
72748     11     0.31429             31%
72818     11     0.31429             31%
54336     11     0.31429             31%
11694     11     0.31429             31%
35351     11     0.31429             31%
49655     10     0.28571             29%
61124     10     0.28571             29%
63849     10     0.28571             29%
40019     10     0.28571             29%
53213     10     0.28571             29%
39474     10     0.28571             29%
60918     10     0.28571             29%
39361     10     0.28571             29%
49342     10     0.28571             29%
42732     10     0.28571             29%
61357     10     0.28571             29%
63655     10     0.28571             29%
49086     10     0.28571             29%
61453     10     0.28571             29%
54549     10     0.28571             29%
62850     10     0.28571             29%
37557     10     0.28571             29%
47484     10     0.28571             29%
55055     10     0.28571             29%
64708     10     0.28571             29%
47429     10     0.28571             29%
53910     10     0.28571             29%
50696     10     0.28571             29%
51473     10     0.28571             29%
51538     10     0.28571             29%
64453     10     0.28571             29%
45725     10     0.28571             29%
44478     10     0.28571             29%
57554     10     0.28571             29%
58436     10     0.28571             29%
59012     10     0.28571             29%
49064     10     0.28571             29%
54504     10     0.28571             29%
44964     10     0.28571             29%
48660     10     0.28571             29%
33784     10     0.28571             29%
37380     10     0.28571             29%
13165     10     0.28571             29%
8547      10     0.28571             29%
22671     10     0.28571             29%
21435     10     0.28571             29%
20221     10     0.28571             29%
70033     10     0.28571             29%
10897     10     0.28571             29%
11029     10     0.28571             29%
19170     10     0.28571             29%
19009     10     0.28571             29%
11576     10     0.28571             29%
18737     10     0.28571             29%
66967     10     0.28571             29%
35217     10     0.28571             29%
71402     10     0.28571             29%
17203     10     0.28571             29%
16235     10     0.28571             29%
16156     10     0.28571             29%
15648     10     0.28571             29%
15486     10     0.28571             29%
73283     10     0.28571             29%
15414     10     0.28571             29%
15140     10     0.28571             29%
7994      10     0.28571             29%
14934     10     0.28571             29%
76213     10     0.28571             29%
31784     10     0.28571             29%
3832      10     0.28571             29%
4452      10     0.28571             29%
4953      10     0.28571             29%
29026     10     0.28571             29%
30187     10     0.28571             29%
6799      10     0.28571             29%
2324      10     0.28571             29%
32995     10     0.28571             29%
29828     10     0.28571             29%
7449      10     0.28571             29%
175       10     0.28571             29%
29660     10     0.28571             29%
35111     10     0.28571             29%
7940      10     0.28571             29%
32705     10     0.28571             29%
1094       9     0.25714             26%
61526      9     0.25714             26%
478        9     0.25714             26%
54372      9     0.25714             26%
58609      9     0.25714             26%
4442       9     0.25714             26%
61057      9     0.25714             26%
6096       9     0.25714             26%
10621      9     0.25714             26%
10284      9     0.25714             26%
59099      9     0.25714             26%
9757       9     0.25714             26%
57150      9     0.25714             26%
57259      9     0.25714             26%
72253      9     0.25714             26%
8209       9     0.25714             26%
18264      9     0.25714             26%
53509      9     0.25714             26%
45452      9     0.25714             26%
33903      9     0.25714             26%
39080      9     0.25714             26%
32729      9     0.25714             26%
64860      9     0.25714             26%
66074      9     0.25714             26%
37         9     0.25714             26%
30920      9     0.25714             26%
30441      9     0.25714             26%
42725      9     0.25714             26%
66401      9     0.25714             26%
43840      9     0.25714             26%
43907      9     0.25714             26%
44766      9     0.25714             26%
16967      9     0.25714             26%
29397      9     0.25714             26%
63870      9     0.25714             26%
24837      9     0.25714             26%
68804      9     0.25714             26%
22447      9     0.25714             26%
48224      9     0.25714             26%
26923      9     0.25714             26%
70240      9     0.25714             26%
67136      8     0.22857             23%
74787      8     0.22857             23%
65957      8     0.22857             23%
62469      8     0.22857             23%
71367      8     0.22857             23%
64227      8     0.22857             23%
64103      8     0.22857             23%
75648      8     0.22857             23%
75656      8     0.22857             23%
67164      8     0.22857             23%
11         8     0.22857             23%
40155      8     0.22857             23%
62337      8     0.22857             23%
14126      8     0.22857             23%
22707      8     0.22857             23%
20690      8     0.22857             23%
19599      8     0.22857             23%
19281      8     0.22857             23%
18864      8     0.22857             23%
17298      8     0.22857             23%
15278      8     0.22857             23%
14753      8     0.22857             23%
13833      8     0.22857             23%
24596      8     0.22857             23%
13517      8     0.22857             23%
12996      8     0.22857             23%
11510      8     0.22857             23%
11127      8     0.22857             23%
8608       8     0.22857             23%
7154       8     0.22857             23%
6589       8     0.22857             23%
5511       8     0.22857             23%
23496      8     0.22857             23%
26735      8     0.22857             23%
62008      8     0.22857             23%
46752      8     0.22857             23%
57147      8     0.22857             23%
57140      8     0.22857             23%
53744      8     0.22857             23%
53062      8     0.22857             23%
49982      8     0.22857             23%
49031      8     0.22857             23%
48319      8     0.22857             23%
47407      8     0.22857             23%
46470      8     0.22857             23%
26822      8     0.22857             23%
45879      8     0.22857             23%
39384      8     0.22857             23%
37568      8     0.22857             23%
34551      8     0.22857             23%
31539      8     0.22857             23%
30279      8     0.22857             23%
28100      8     0.22857             23%
27093      8     0.22857             23%
76956      8     0.22857             23%

### Exercise III
Decide how to handle the remaining missing values:

* Fill with constant value.
* Impute with mean, median, mode.
* Drop row/column

#### wrangle_zillow.py

Functions of the work above needed to acquire and prepare a new sample of data.

### Mall Customers

#### notebook

1. Acquire data from mall_customers.customers in mysql database.

2. Summarize data (include distributions and descriptive statistics).

3. Detect outliers using IQR.

4. Split data (train, validate, and test split).

5. Encode categorical columns using a one hot encoder (pd.get_dummies).

6. Handles missing values.

7. Scaling

#### wrangle_mall.py

1. Acquire data from mall_customers.customers in mysql database.

2. Split the data into train, validate, and split

3. One-hot-encoding (pd.get_dummies)

4. Missing values

5. Scaling